body {
    font-family: sans-serif;
    background-image: url("background-image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
    height: 120px;
    color:rgb(240, 190, 173);
}
h1 {
    text-align: center;
    font-size: 100px;
}

a {
    color: black;
    font-weight: bold;
}
nav ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style-type: none;
    padding: 10px;
    width: 100%;    
}

nav ul li a {
    text-decoration: none;
}

.pricing {
    color:blue;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    color: white;

}

.brushes {
    background-color: rgb(146, 247, 146);
}

.frames {
    background-color: rgb(240, 162, 179);
}

.paint {
    background-color: rgb(94, 241, 241);
}
